<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="RestAssuredExamples">
        <classes>
            <class name="RestAssuredTests.DeleteMethod">
            </class>
            <class name="RestAssuredTests.GetMethod">
            </class>
            <class name="RestAssuredTests.PatchMethod">
            </class>
            <class name="RestAssuredTests.PostMethod">
            </class>
            <class name="RestAssuredTests.PutMethod">

            </class>
        </classes>
    </test>
</suite>